html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

.fixMe {
  background-color: #21618C;
}

.navbar-toggler {
  background-color: #85C1E9;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 5px;
}

.masthead {
  height: 90vh;
  border: 2px solid #AAB7B8;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 400%;
}

.subheading {
  font-size: 250%;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;

}

.img-responsive {
  width: 270px;
  height: 270px;
}

.ttl {
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
  font-size: 30px;
}

.zoom {
  background-color: green;
  transition: transform .2s;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
}

.card-img-top {
  height: 60vh;
}

.features {
  margin: 50px;
}

.features .icon-box {
  padding-left: 15px;
}

.features .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .icon-box i {
  font-size: 48px;
  float: left;
  color: #ffc451;
}

.features .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.features .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.relative-container {
  position: relative;
  color: black;
  font-weight: bold;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 16px;
}

.absolute-image {
  width: 100%;
  height: 40vh;
  box-shadow: 0 0 20px #F8F9F9;
}

.view-all-btn {
  padding: 6px 12px;
  color: white;
  background-color: #21618C;
  border: none;
  border-radius: 5px;
}

.contactus-row {
  background: url('https://media.istockphoto.com/photos/businessman-touching-icon-mobile-phone-mail-telephone-and-address-picture-id1153130142?k=20&m=1153130142&s=612x612&w=0&h=DWIC-H0piTNxyYHYrpGnxZ0PCBs05HzeViF_nRxsJ2Y=') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card-img-top {
  width: 100%;
}

.card-row {
  background-color: #F8F9F9;
  box-shadow: 0 0 20px #BFC9CA;
}

#footer {
  background: #1A5276;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .form-input:focus {
  outline: none;
}

#footer .footer-top {
  background: #21618C;
  border-bottom: 1px solid #21618C;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer .footer-top .footer-info h3 span {
  color: #ffc451;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #ffc451;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #292929;
  color: white;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ffcd6b;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media only screen and (max-width: 1146px) {
  .masthead-container {
    max-width: 100%;
  }

  .nav-list {
    margin-left: 0px;
  }

  .first-row {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1159px) {
  .masthead-container {
    max-width: 100%;
  }

  /* .nav-list {
   margin-left: 0px;
  } */
}

@media only screen and (max-width: 1154px) {
  .masthead-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1151px) {
  .masthead-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1146px) {
  .masthead-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .responsive-ttl {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 992px) {
  .team-card {
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .sm-ttl {
    margin-top: 35px;
  }

  .top-margin {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 724px) {
  .subheading {
    font-size: 200%;
  }
}